*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 62.5%;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    background: #000;
}
.main{
    padding: 40px 0;
    max-width: 1322px;
    margin:30px auto;
    background: url(background.jpg) center no-repeat;
    border: 4px solid white;
    border-radius: 25px;
    background-size: cover;
    text-align: center;
}
.main_items{
    width: 40%;
    color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,#ddee44,#ff4420);
}
.title, .main{
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
}
.title, .new_year{
    margin-bottom: 30px;
}
.counter{
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.counter div{
    text-align: center;
}
button{
    width: 150px;
    padding: 15px;
    background: linear-gradient(90deg,#16e3a6,#1ca633);
    border-radius: 15px;
    color: white;
    font-size: 1.6rem;
    border: 2px solid white;
    cursor: pointer;
}
button:hover, button:active, button:focus{
    border: 2px solid brown;
}
